body {
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.back {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    padding: 8px 15px;
    background: #3475EB;
    color: white;
    border: none;
    border-radius: 6px;
    a{
            color: white;
            text-decoration: none;
        }
}

.header {
    position: absolute;
    width: 100%;
    height: 250px;
    background: #152437;
}
.principal {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 210mm;
    min-height: 297mm;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-left: 20%;
}

.hr-minim {
    position: relative;
    bottom: 15px;
    width: 64px;
}
.left-content {
    position: relative;
    background-color:#3475EB ;
    margin-top: 60px;
    margin-left: 50px;
    padding-left: 2%;
    border-top-right-radius: 150PX;
    border-top-left-radius: 150px;
    color: white;
    a{
        color: white;
    }
}
aside {
    width: 250px;
}
.profil-img img {
    justify-content: center;
    margin-top: 30px;
    margin-left: 5%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
}
.profil-img {
    transition: transform 0.3s ease;
}
.profil-img:hover {
    transform: scale(1.2);
}
.name {
    justify-content: flex-end;
    /*margin-top: -5%;*/
    margin-left: 30%;
    color: white;
    p{
        position: relative;
        font-size: 40px; 
    }
    h2 {
    position: relative;
    margin-top: -22%;
    padding-left: 38%;
    font-size: 40px;
}
    .sub-title{
        font-size: 16px;
        margin-top:-8%;
    }
}
.profile-info {
    margin-top: 20%;
}
.title-date{
    display: flex;
    justify-content: space-between;
}
.title {
    position: relative;
}
.date {
    position: relative;
}
.hr-max {
    width: 144px;
}
.right-content {
    position: relative;
    margin-top: 8%;
    margin-left: 5%;
    padding-right: 2%;
}
.realisation {
    display: flex;
    justify-content: space-between;
    .real-left {
        position: relative;

    }
    .real-right {
        position: relative;
        margin-left: 2%;
    }
}

footer {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    .download{
        background: #3475EB;
        border: none;
        color: white;
        border-radius: 6px;
        padding: 10px 15px;
        a{
            color: white;
            text-decoration: none;
        }
    }
}

a{
    color: black;
    text-decoration: none;
}
button {
  transition-duration: 0.4s;
}

button:hover {
  background-color: #152437;
  color: white;
}