@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');
        body {
            margin: 0;
            padding: 0;
            /* font-family: Arial, Helvetica, sans-serif; */
            background-color: #f2f2f2;
            animation: fadeIn 2s ease-in;
        }
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        .container {
            display: flex;
            width: 230mm;
            min-height: 270mm;
            margin: 40px auto;
            background: white;
            border-radius: 15px;
            overflow: hidden;
        }
        .gauche {
            background-color: #152437;
            width: 35%;
            padding: 30px;
        }
        .gauche section {
            padding-top: 250px;
        }
        .gauche i {
            color: white;
        }
        .gauche h3 {
            margin-top: 25px;
            color: white;
            line-height: 10px;
            
        }
        
        .gauche p {
           color: white;
        }
       
        .gauche ul {
            padding-left: 18px;
        }
        .gauche ul li {
            line-height: 1.8;
            color: white;
        }
        
        
        .droite {
            width: 65%;
            padding: 40px;
            background-color: white;
        }
        .droite section {
            padding-top: 20px;
        }
        .trait {
            width: 300px;
            height: 4px;
            background-color: #152437;
            margin-top: 1px;
        }
        .droite h3 {
            color: #152437;
        }
        .droite p {
             line-height: 1.8;
        }
        .ptitrai {
            width: 70px;
            height: 4px;
            background-color: #152437;
            margin-top: 1px;
        }
        .ligne{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        header {
            position: relative;
            display: flex;
            background-color: #DDDDDD;
            padding-left: 20px;
            border-radius: 10px;
            margin-bottom: 30px;
            margin-left: -260px; 
            margin-right: -45px; 
            }

            header .photo {
                padding-top: 10px;
                margin-left: -95px;  
            }
            header .photo img {
            width: 150px;
            height: 150px;
            align-items: left;
            border-radius: 50%;
            border: 6px solid white;
            margin-right: 400px;
        }
        header .intro {
           
            margin-left: -230px;

        }
        

        header  h1 {
            transition: 2s;
            animation: slideRight 7s ease;
        }
        @keyframes slideRight {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        footer{
            text-align:center;
            padding:20px;
            }
        


        button{
            padding:10px;
            margin:10px;
            cursor:pointer;
            border-radius: 15px;
            border-color: #152437 ;
        }
        button:hover{
            background-color: #152437;
            color: white;
        }
/* 
        @media print {

            button{
                display:none;
            }
        } */