* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #A2A2A2;
    font-family: Arial, sans-serif;
    padding: 40px;
}

.barre-boutons {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bouton {
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.bouton-accueil {
    border: 2px solid #3475EB;
    color: #FFFFFF;
    background: #3475EB;
}

.bouton-telecharger {
    background: #3475EB;
    color: #FFFFFF;
     border: 2px solid #3475EB;
}

.bouton:hover {
    transform: scale(1.05);
}

#message-telechargement {
    text-align: center;
    color: green;
    margin-bottom: 20px;
}

.conteneur-cv {
    max-width: 900px;
    margin: auto;
    display: flex;
    background: white;
    border-radius: 20px;
    overflow: hidden;
}

.colonne-gauche {
    width: 35%;
    background: #D2BEA9;
    padding: 345px 30px 40px 30px;
}
.colonne-gauche ul {
    padding-left: 18px; 
}

.colonne-gauche section {
    margin-bottom: 25px;
    margin-left: 40px;
}

.colonne-gauche section:hover {
    transform: translateX(5px);
    transition: 0.3s;
}

.colonne-gauche h3 {
    margin-bottom: 10px;
    color: #655143;
}

.colonne-gauche p,
.colonne-gauche li {
    color: #655143;
    margin-bottom: 8px;   
    line-height: 1.6;  
}

.colonne-droite {
    width: 65%;
 background: white; 
 margin-top: 10px;
    padding: 40px;
   


}

.entete {
   background: #F7EFEC;
    padding: 40px;
    margin-left: -210px;
       margin-right: -40px;
    border-radius: 20px 0 0 20px;
    position: relative;
}

.photo-profil {
    position: absolute;
    left: -90px;
    top: 28px;
    
}

.photo-profil img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 6px solid white;
    object-fit: cover;
     transition: 0.4s ease;
}
.photo-profil img:hover {
    transform: scale(1.05);
}

.texte-entete {
    margin-left: 140px;
}

.entete h1 {
    color: #b5855d;
     margin-bottom: 10px;
     transition: 0.3s;
}
.entete h1:hover {
    letter-spacing: 2px;
}

.entete h2 {
    border-bottom: 3px solid #b5855d;
    display: inline-block;
    margin-bottom: 15px;
      color: #b5855d;
}

.entete p {
    color: #A39890;
        line-height: 1.6;

}

.formations h3 {
    margin-top: 40px;
    color: #b5855d;
    position: relative;
}

.formations h3::after {
    content: "";
    width: 60px;
    height: 3px;
    background: #b5855d;
    position: absolute;
    bottom: -8px;
    left: 0;
}

.bloc-formation {
    margin-top: 25px;
     transition: 0.3s ease;
}
.bloc-formation:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.bloc-formation p{
    margin-top: 25px;
}

.ligne-formation {
    display: flex;
    justify-content: space-between;
        margin-top: 25px;

}

.ligne-formation span {
    color: #8B5E3C;
    font-weight: bold;
}

@media screen and (max-width: 768px) {

    .conteneur-cv {
        flex-direction: column; 
        width: 100%;
        border-radius: 0;
    }

    .colonne-gauche,
    .colonne-droite {
        width: 100%;
    }

    .colonne-gauche {
        padding: 40px 20px;
    }

    .colonne-droite {
        padding: 20px;
    }

     .entete {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0;
    }

    .photo-profil {
        position: static; 
        margin-bottom: 20px;
    }

    .photo-profil img {
        width: 120px;
        height: 120px;
    }

    .texte-entete {
        margin-left: 0;
    }

}
