* {
    margin: 0;/*espacement exterieur par defaut*/
    padding: 0; /*espacement interieur par defaut*/
    box-sizing: border-box;/*Pour eviter le debordement des elements de body*/
}

body {
    background: #E6EAF5;
    font-family:'Poppins', sans-serif;
    padding: 40px;
}

.barre-boutons {
    max-width: 900px;
    margin: auto;
    display: flex;/*Permet d'aligner les deux boutons cote a cote */
    justify-content: space-between; /*espacement de l'espace  entre mes deux boutons*/
    margin-bottom: 20px;
}

.bouton {
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold; 
    transition: 0.3s;
}

.bouton-accueil {
    border: 2px solid #3475EB;
    color: #FFFFFF;
    background: #3475EB;
}

.bouton-telecharger {
    background: #3475EB;
    color: #FFFFFF;
     border: 2px solid #3475EB;
}

.bouton:hover {
    transform: scale(1.05); /*Animation zoom sur mes deux boutons*/
}

#message-telechargement {
    text-align: center;
    color: #152437;
    margin-bottom: 20px;
}

.conteneur-cv {
    max-width: 900px;
    margin: auto;
    display: flex; /*Mettre les elements du conteneur sur cote a cote*/
    background: white;
    border-radius: 20px;
    overflow: hidden; /*Permet de caché le contenu qui depasse le conteneur*/
}

.colonne-gauche {
    width: 40%; /*hauteur*/
    background:#152437;
    padding: 393px 30px 40px 30px;
}
.colonne-gauche ul {
    padding-left: 18px; 
}

.colonne-gauche section {
    margin-bottom: 25px;
    margin-left: 40px;
}

.colonne-gauche section:hover {
    transform: translateX(5px);
    transition: 0.3s;
}

.colonne-gauche h3 {
    margin-bottom: 10px;
    color: #FFFFFF;
}

.colonne-gauche p,
.colonne-gauche li {
    color: #FFFFFF;
    margin-bottom: 8px;   
    line-height: 1.6;  
}

.colonne-droite {
    width: 65%;
 background: white; 
 margin-top: 10px;
    padding: 40px;
   


}

.entete {
   background: #DDDDDD;
    padding: 40px;
    margin-left: -210px;
    margin-right: -40px;
    border-radius: 20px 0 0 20px;
   position: relative;
}

.photo-profil {
    position: absolute; 
    left: -100px;
    top: 35px;
    
}

.photo-profil img {
    width: 230px; /*Largeur*/
    height: 230px; /*Hauteur*/
    border-radius: 50%;
    border: 6px solid white;
    object-fit: cover; /*L’image remplit tout l’espace du conteneur sans déformée l'image*/
    transition: 0.4s ease; /* temps de transition sur image*/
}
.photo-profil img:hover {
    transform: scale(1.05); /* Permet de zoomer  l'image au survol*/
}

.texte-entete {
    margin-left: 140px;
}

.entete h1 {
    color: #152437;
     margin-bottom: 10px;
     transition: 0.3s;
}
.entete h1:hover {
    letter-spacing: 2px;
}

.entete h2 {
    border-bottom: 3px solid #152437;
    display: inline-block;
    margin-bottom: 15px;
      color: #152437;
}

.entete p {
    color: #152437;
        line-height: 1.6;

}

.formations h3 {
    margin-top: 40px;
    color: #152437;
    position: relative;
}

.formations h3::after {
    content: "";
    width: 60px;
    height: 3px;
    background: #152437;
    position: absolute;
    bottom: -8px;
    left: 0;
}


.bloc-formation {
    margin-top: 25px;
     transition:  0.3s ease;
}
.bloc-formation:hover {
    transform: translateY(-5px);/* Animimation pour mettre en haut verticalement*/
    box-shadow: 0 8px 20px rgba(0,0,0,0.1); /* Pour mettre de l'ombre*/
} 

.bloc-formation li{
    margin-top: 25px;
    color : #152437;
    margin-left: 19px;
}

.ligne-formation {
    display: flex;
    justify-content: space-between;
        margin-top: 25px;

}
.ligne-formation h4{
    color: #152437;
}

.ligne-formation span {
    color: #152437;
    font-weight: regular;
    opacity: 0;
}

@media screen and (max-width: 768px) {

    .conteneur-cv {
        flex-direction: column-reverse; 
        width: 100%;
        border-radius: 0;
        
    }

    .colonne-gauche,
    .colonne-droite {
        width: 100%;
    }

    .colonne-gauche {
        padding: 40px 20px;
    }

    .colonne-droite {
        padding: 20px;
    }

     .entete {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0;
    }

    .photo-profil {
        position: static; 
        margin-bottom: 20px;
    }

    .photo-profil img {
        width: 120px;
        height: 120px;
    }

    .texte-entete {
        margin-left: 0;
    }

}
@media print {
    .barre-boutons {
        display: none !important;
    }

    #message-telechargement {
        display: none;
    }
}
