
        body {
            margin: O;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f2f2f2;
            animation: fadeIn 2s ease-in;
        }
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        .container {
            display: flex;
            width: 230mm;
            min-height: 270mm;
            /* max-width: 1100px; */
            margin: 40px auto;
            background: white;
            border-radius: 15px;
            overflow: hidden;
        }
        .gauche {
            background-color: rgb(240, 187, 138);
            width: 40%;
            padding: 30px;
        }
        .gauche section {
            padding-top: 235px;
        }
        .gauche i {
            color: rgb(36, 22, 5);
        }
        .gauche h3 {
            margin-top: 25px;
            color: rgb(36, 22, 5);
        }
        
        
        .droite {
            width: 60%;
            padding: 40px;
            background-color: beige;
            /*animation: slideRight 2s ease;*/
        }
        .droite section {
            padding-top: 20px;
        }
        .trait {
            width: 300px;
            height: 4px;
            background-color: rgb(56, 36, 10);
            margin-top: 1px;
        }
        .droite h3 {
            color:rgb(56, 36, 10) ;
        }
        .droite  .trai {
            width: 70px;
            height: 4px;
            background-color: rgb(56, 36, 10);
            margin-top: 1px;
        }
        @keyframes slideRight {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        header {
            display: flex;
            background-color: rgb(248, 227, 198);
            padding-left: 20px;
            border-radius: 10px;
            margin-bottom: 30px;
            margin-left: -260px; 
            margin-right: -50px; 
        
            
            }
            header .photo {
                padding-top: 20px;
                margin-left: -95px;  
            }
            header .photo img {
            width: 150px;
            height: 150px;
            align-items: left;
            border-radius: 50%;
            border: 6px solid white;
            margin-right: 400px;
        }
        header .intro {
           
            margin-left: -230px;

        }
        

        header  h1 {
            transition: 2s;
            animation: slideRight 7s ease;
        }
        
        footer{
            text-align:center;
            padding:20px;
            }
        button{
            padding:10px;
            margin:10px;
            cursor:pointer;
            border-radius: 15px;
            border-color:rgb(219, 162, 108) ;
        }
        button:hover{
            background-color: rgb(219, 162, 108);
            color: white;
        }